.dashboard_content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.dashboard_content .balance_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_content .balance_info .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 767px) {
  .dashboard_content .balance_info {
    flex-direction: column;
    gap: 3rem;
  }
  .dashboard_content .balance_info .chart {
    width: 90%;
  }
}
