:root {
  --main-color: #ff7e31;
  --second-color: #fff;
  --third-color: whitesmoke;
  /* --second-color: #192c40;
  --third-color: #1d3249; */
  --txt-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: var(--third-color);
}
/* general styles */
.muted {
  color: #3333;
}
.center {
  display: flex;
  justify-content: center;
}
.txt-color {
  color: var(--txt-color);
}
.main-color {
  color: var(--main-color);
}
.link {
  /* color: black; */
  color: black;
}

/* margin */
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mb1 {
  margin-top: 10px;
}
.mb2 {
  margin-top: 20px;
}
/* margin */

/* general styles */
